version: 4.0.2.{build}

image: Visual Studio 2017

install:
  - ps: .\scripts\updateversion.ps1
  - ps: .\scripts\installandruneventstore.ps1

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'

configuration: Release

before_build:
  - msbuild /t:restore EventStore.ClientAPI.NetCore.sln

build:
    project: EventStore.ClientAPI.NetCore.sln
    publish_nuget: true
    verbosity: minimal
  
test_script:  
  - ps: .\scripts\appveyortest.ps1
  
deploy:
  provider: NuGet
  on:
    appveyor_repo_tag: true
  api_key: 
    secure: zd6D5E28IF7m/HSA9k1GUDSzOiWhnrvQUBATrbEqA2MJVh1rDDl+4LDuv+dvioWp
  artifact: /.*\.nupkg/
